[Unit]
Description=2D Vector Writer Service
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/%u/.local/bin/vector.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target